.container {
    text-align: center;
    margin-top: 100px;
    background-color: pink;
  }
  
  h1 {
    font-size: 42px;
    font-family: fantasy;
  }
  
  #quote {
    margin-top: 40px;
    font-size: 24px;
  }
  #new-quote {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
  h1 {
    color: #900c3f;
    background-color: #dfdedd;
  }
  